<!DOCTYPE html>
<!-- saved from url=(0032)https://www.eduardoaddad.com.br/ -->
<html lang="pt-br"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176591853-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-176591853-1');
</script>
        
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="description" content="Site pessoal do Eduardo">
      
        <title>Eduardo Addad de Oliveira | Em breve</title>

        
<link href="index.css" rel="stylesheet">
<link rel="stylesheet" href="style.css">

      </head>

      <body>
        <div class="edgy">
          <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a> from <a
              href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
              href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
          </div> -->
          <img class="item image" src="manutenção.png">
          <div class="item">
            <p class="title">Em breve</p>
          </div>
          <div class="item">
            <p>Site em contrução.</p>
          </div>
        </div>
        
 <!-- Add font awesome icons -->
<a href="https://twitter.com/eduardoaddad" class="fa fa-twitter"></a>
<a href="https://www.linkedin.com/in/eduardo-addad-de-oliveira/" class="fa fa-linkedin"></a>
<a href="https://www.instagram.com/eduardoaddad/" class="fa fa-instagram"></a>
<a href="https://github.com/eduaddad" class="fa fa-github"></a>
    
		<footer>
<footer> <small>&copy; Copyright © 2020 Eduardo Addad de Oliveira.</small>
		</footer>
	</body>
</html>
