          body {
            background-color: #ffffff;
            padding: 0;
            margin: 0;
          }

            .edgy {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: 100vh;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-line-pack: center;
            align-content: center;
            text-align: center;
            line-height: 1.3;
          }

          .edgy .image {
            margin: 0 auto;
            
                  width: 200px;
                  height: 200px;
                  -webkit-transform: rotate(-90deg);
                  -ms-transform: rotate(-90deg);
                  transform: rotate(-90deg);
          }

          .item + .item {
            margin-bottom: 1rem;
          }

          .edgy .title {
            font-family: "Poppins", sans-serif;
            font-size: 28px;
            font-weight: 400;
            margin: 0 auto;
            text-transform: uppercase;
            color: #000;
            max-width: 400px;
          }

          .edgy p {
            font-family: "Poppins", sans-serif;
            color: #999fa5;
            font-weight: 300;
            margin: 0 auto;
            max-width: 400px;
          }

          .attribution-container {
            font-family: "Poppins", sans-serif;
            position: absolute;
            bottom: 10px;
            text-align: center;
            width: 100vw;
          }

          .attribution a {
            color: #00b1eb
          }
            .edgy {
              padding-left: 10px;
              padding-right: 10px;
           }
.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
		
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-github {
  background: #000000;
  color: white;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

/* style.css */
:root {
  color-scheme: light dark;
}

body {
  color: var(--color);
  background-color: var(--background-color);
}
